pandas==2.2.3
numpy==2.2.5
pycaprio==0.3.0
dkpro-cassis==0.10.1
spacy==3.8.5
torch==2.6.0
biopython==1.85
jaydebeapi==1.2.3
minio
podman
attrs
pydantic
urllib3
requests-toolbelt
prefect[dask]==3.3.5
faker==37.1.0
dateparser==1.2.1
babel
python-dotenv
## In order to connect with Python client to docker correctly
requests==2.31.0
## Pseudonymization edge cases
llama-cpp-python==0.3.8