pandas==2.3.2
numpy==2.2.6
pycaprio==0.3.0
dkpro-cassis==0.10.1
spacy==3.8.7
torch==2.8.0
biopython==1.83.0
jaydebeapi==1.2.3
minio==7.2.16
podman==5.5.0
attrs
pydantic
urllib3
requests-toolbelt
prefect==3.4.22
prefect-dask
faker==24.0.0
dateparser==1.2.0
babel==2.14.0
python-dotenv==1.0.1
## In order to connect with Python client to docker correctly
requests==2.31.0
## Pseudonymization edge cases
llama-cpp-python==0.3.8