pandas
numpy
pycaprio @ git+https://github.com/JavierLuna/pycaprio.git@0.2.1#egg=pycaprio
dkpro-cassis @ git+https://github.com/dkpro/dkpro-cassis.git@e05ef70280312d401c85a938f36d2af16534f370
spacy
torch
biopython==1.83.0
jaydebeapi
minio
podman
attrs
pydantic==1.10.11
urllib3==1.26.15
requests-toolbelt==0.10.1
#prefect-ray
prefect-dask
faker==24.0.0
dateparser==1.2.0
babel==2.14.0
python-dotenv==1.0.1